@font-face {
    font-family: neueMachina;
    src: url(fonts/neue\ machina/NeueMachina-Regular.otf) format("opentype");
}

body {
    font-family: 'neueMachina';
    color: #929191;
}

h2 {
    font-family: 'montserrat';
    font-weight: 700;
    font-size: 181.25%;
    padding-top: 7%;
    color: #000;
}

h3 {
    font-family: 'montserrat';
    font-size: 131.25%;
    padding: 8% 0%;
    margin: 0;
}

input {
    border: none;
    border-bottom: 2px solid;
    width: 82%;
    margin-bottom: 5%;
}

input:focus {
    border: none;
    outline: none;
    border-bottom: 2px solid;
}

#checkbox {
    width: auto !important;
    margin-bottom: 0% !important;
}

.remember-me {
    display: inline-block;
    position: relative;
    bottom: 1px;
    margin-bottom: 3% !important;

}


.left-bottom-or {
    text-align: left;
    margin-left: 15.5%;
}

#background {
    height: 100vh;
    background-image: linear-gradient(to right, #EF3784, #3753C0);
    display: flex;
    justify-content: center;
    align-items: center
}

#password {
    margin-bottom: 1.8% !important;
}

.create-account {
    border-radius: 10px !important;
    border: none;
    width: 49% !important;
    background-color: #000;
    margin-top: 0 !important;
}

/*google and facebook btn img resize*/
.google,
.facebook {
    width: 8%;
    padding: 0;
}

/* buttons */
.btn {
    width: 70%;
    border-radius: 56px;
    margin-top: 4%;
    border-width: 3px;
    border-color: #929191;
    text-align: left;
    padding: 2%;
    padding-left: 4%;
    padding-bottom: 3%;
}

/* Left container with content */
#left {
    height: 100%;
    width: 35%;
    float: left;
}

/* Left container with only black pit img */
#right {
    background-color: #EF3784;
    height: 100%;
    width: 65%;
    margin: 0%;
    padding: 0%;
    float: right;
}

/*main div container holding both container */

#pop-out {
    background-color: #fff;
    height: 86%;
    margin: auto;
    padding: 0;
}

.img-right {
    width: 100%;
    max-height: 100%;
    object-fit: cover;
}