@font-face {
    font-family: neueMachina;
    src: url(fonts/neue\ machina/NeueMachina-Regular.otf) format("opentype");
}

body {
    font-family: 'neueMachina';
    color: #929191;
}

h2 {
    font-family: 'montserrat';
    font-weight: 700;
    font-size: 29px;
    padding-top: 8%;
    color: #000;
}

h3 {
    font-family: 'montserrat';
    font-size: 21px;
    padding: 8% 0%;
}

input {}


#background {
    height: 100vh;
    background-image: linear-gradient(to right, #EF3784, #3753C0);
    display: flex;
    justify-content: center;
    align-items: center
}

/*google and facebook btn img resize*/
.google,
.facebook {
    width: 8%;
    padding: 0;
}

/* buttons */
.btn {
    width: 70%;
    border-radius: 56px;
    margin-top: 4%;
    border-width: 3px;
    border-color: #929191;
    text-align: left;
    padding: 2%;
    padding-left: 4%;
    padding-bottom: 3%;
}

/* Left container with content */
#left {
    height: 100%;
    width: 35%;
    float: left;
}

/* Left container with only black pit img */
#right {
    background-color: #EF3784;
    height: 100%;
    width: 65%;
    margin: 0%;
    padding: 0%;
    float: right;
}

/*main div container holding both container */
.pop-out {
    background-color: white;
    height: 200px;
}

#pop-out {
    background-color: #fff;
    height: 86%;
    margin: auto;
    padding: 0;
}

.img-right {
    width: 100%;
    max-height: 100%;
    object-fit: cover;
}